.main_frame {
width: 1100px;
border: 1px solid #FFF;
-moz-box-shadow: rgba(0, 0, 0, 0.40) 3px 5px 5px;
-webkit-box-shadow: rgba(0, 0, 0, 0.4) 3px 5px 5px;
box-shadow: rgba(0, 0, 0, 0.4) 3px 5px 5px;
}

.fix_content .left ,.fix_content .right {
position: absolute;
}
.main_content ul {
padding: 20px;
width: 560px;
}

.main_content li > a > div {
width: 160px;
margin: 5px;
}
.main_content li > a > div img {
margin: 0 40px;
width: 80px;
height: 80px;
}

.main_content li.full > a > div span {

left: 115px;
}

.main_content li > a > div div {
margin-top: 2px;
font-size: 12px;
}

.main_content li.full > a > div div {
left: 115px;
top: 35px;
}
.main_content .otherlink ul {
padding: 0;
margin-left: 10px;
float: left;
}
.otherlink li > a > div {
width: 130px;
height: 45px;
}
.otherlink li > a > div img {
width: 40px;
height: 40px;
margin: 0;
}

.fix_content{
    position: fixed;
    width: 1100px;
}