RewriteEngine On

RewriteCond %{HTTP_HOST} ^(www.)?kcvp.logs.moe$
RewriteCond %{REQUEST_URI} !^/kcvp/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /kcvp/$1
RewriteCond %{HTTP_HOST} ^(www.)?kcvp.logs.moe$
RewriteRule ^(/)?$ kcvp/index.php [L]
RewriteRule ^([a-z0-9A-Z]+).zip$ /kcvp/download/index.php?key=$1

RewriteCond %{HTTP_HOST} ^(www.)?amm.moe$
RewriteCond %{REQUEST_URI} !^/amm/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /amm/$1
RewriteCond %{HTTP_HOST} ^(www.)?amm.moe$
RewriteRule ^(/)?$ amm/index.php [L]

RewriteCond %{HTTP_HOST} ^(www.)?api.amm.moe$
RewriteCond %{REQUEST_URI} !^/api/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /api/$1
RewriteCond %{HTTP_HOST} ^(www.)?api.amm.moe$
RewriteRule ^(/)?$ api/index.php [L]